@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+Mono:wght@100..900&display=swap");

@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@font-face {
    font-family: "MinecraftSeven2";
    src: url("./fonts/minecraft-seven-2.otf.woff2/minecraft-seven-2.otf.woff2") format("woff2");
}

@theme {
    --font-sans: "Noto Sans JP", sans-serif;
    --font-mono: "Noto Sans Mono", monospace;
    /* Generated accent color palettes. */
    --color-accent-200: #b3d598;
    --color-accent-600: #467500;
    --color-accent-900: #203b00;
    --color-accent-950: #162a00;
    /* Generated gray color palettes. */
    --color-gray-100: #f6f6f6;
    --color-gray-200: #eeeeee;
    --color-gray-300: #c2c2c2;
    --color-gray-400: #8b8b8b;
    --color-gray-500: #585858;
    --color-gray-700: #383838;
    --color-gray-800: #272727;
    --color-gray-900: #181818;
}


footer {
    padding-top: 2rem;
    margin-top: 2rem;
    font-size: 0.875rem;
    text-align: center;
    border-top: 1px solid var(--color-gray-800);
}