<footer class="custom-footer">
  <p>
    Copyright © 2023–{new Date().getFullYear()} Overworld MC<br />
    The font "Minecraft Seven v2" was created by 
    <a href="https://fontstruct.com">Baldionlyfont (FontStruct)</a> 
    and is distributed under the CC BY 3.0 license.
  </p>
</footer>